.trip-thumbnail {
    color: inherit;
    text-decoration: inherit;

    .mat-card-content {
        display: flex;

        .image-container {
            padding: 15em;
            margin-right: 1em;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .trip-details {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .description {
                flex-grow: 1;
                text-align: center;
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                span {
                    padding: 0 1em;
                }

                .available {
                    margin-right: auto;

                    .limit {
                        &.low {
                            color: red;
                        }

                        &.med {
                            color: orange;
                        }

                        &.high {
                            color: green;
                        }
                    }
                }
            }
        }
    }

    app-rate, mat-card-title, mat-card-subtitle {
        align-self: center;
        text-align: center;
    }

    .price {
        &.low {
            color: green;
        }

        &.med {
            color: orange;
        }

        &.high {
            color: red;
        }
    }

    &:hover .actions {
        button {
            opacity: 1;
            transition: all 0.3s ease-in;
        }
    }

    &:not(:hover) .actions {
        button {
            opacity: 0;
            transition: all 0.3s ease-in;
        }
    }

}
