<a class="trip-thumbnail" routerLink="/trips/{{ trip.id }}">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="price-indicator">
                <mat-icon [ngClass]="{
                        'low': trip.price < 1000,
                        'med': trip.price >= 1000 && trip.price < 2000,
                        'high': trip.price >= 2000
                    }">attach_money
                </mat-icon>
            </div>
            <mat-card-title>{{ trip.name }}</mat-card-title>
            <mat-card-subtitle>{{ trip.price | currency:'EUR' }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{ trip.thumbnailUrl }}" alt="{{ trip.name }}">

        <mat-card-content>
            <p>
                {{ trip.description }}
            </p>
        </mat-card-content>

        <mat-card-actions (click)="preventNavigation($event)">
            <div class="available">
                Available:
                <span class="limit" [ngClass]="{
                        'low': trip.limit - getReservedPlacesCount(trip) < 3,
                        'med': trip.limit - getReservedPlacesCount(trip) >= 3 && trip.limit - getReservedPlacesCount(trip) < 10,
                        'high': trip.limit - getReservedPlacesCount(trip) >= 10
                    }">{{ trip.limit - getReservedPlacesCount(trip) }}</span>
            </div>

            <button
                mat-button
                (click)="handleSubtract(trip)"
                [disabled]="getReservedPlacesCount(trip) === 0"
            >
                <mat-icon>exposure_neg_1</mat-icon>
            </button>

            <span [style.color]="getReservedPlacesCount(trip) === 0 ? '#ccc' : 'inherit'">
                    {{ getReservedPlacesCount(trip) }}
                </span>

            <button
                mat-button
                (click)="handleAdd(trip)"
                [disabled]="getReservedPlacesCount(trip) === trip.limit"
            >
                <mat-icon>exposure_plus_1</mat-icon>
            </button>

            <button
                mat-button
                (click)="onDelete($event, trip)"
            >
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</a>
