<a class="trip-thumbnail" routerLink="/trips/{{ trip.key }}">
    <mat-card>
        <mat-card-content>
            <div class="image-container d-none d-lg-block" [style.background-image]="'url('+trip.thumbnailUrl+')'"></div>
            <div class="trip-details">
                <app-rate mode="display" [ratingValue]="trip.rating.value" tooltip="{{trip.rating.votesCount}} votes"></app-rate>

                <mat-card-title>{{ trip.name }}</mat-card-title>

                <mat-card-subtitle>
                    <span>{{ trip.startDate | date }}</span>
                    <span style="padding: 0.5em">-</span>
                    <span>{{ trip.endDate | date }}</span>

                    <div class="price" [ngClass]="{
                        'low': trip.price < 1000,
                        'med': trip.price >= 1000 && trip.price < 2000,
                        'high': trip.price >= 2000
                    }">{{ trip.price | currency:'EUR' }}</div>
                </mat-card-subtitle>

                <p class="description">{{ trip.description }}</p>

                <div class="actions" (click)="preventNavigation($event)">
                    <div class="available">
                        Available:
                        <span class="limit" [ngClass]="{
                        'low': trip.freePlaces - getReservedPlacesCount(trip) < 3,
                        'med': trip.freePlaces - getReservedPlacesCount(trip) >= 3 && trip.freePlaces - getReservedPlacesCount(trip) < 10,
                        'high': trip.freePlaces - getReservedPlacesCount(trip) >= 10
                    }">{{ trip.freePlaces - getReservedPlacesCount(trip) }}</span>
                    </div>

                    <button
                        class="decrement-btn"
                        mat-button
                        (click)="handleSubtract(trip)"
                        [disabled]="getReservedPlacesCount(trip) === 0"
                    >
                        <mat-icon>exposure_neg_1</mat-icon>
                    </button>

                    <span [style.color]="getReservedPlacesCount(trip) === 0 ? '#ccc' : 'inherit'">
                        Selected: {{ getReservedPlacesCount(trip) }}
                    </span>

                    <button
                        class="increment-btn"
                        mat-button
                        (click)="handleAdd(trip)"
                        [disabled]="getReservedPlacesCount(trip) === trip.freePlaces"
                    >
                        <mat-icon>exposure_plus_1</mat-icon>
                    </button>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</a>
