.mat-drawer {
    min-width: 200px;
    padding: 1em;

    .filter-container {
        margin-top: 2em;
        display: flex;
        flex-direction: column;

        h5 {
            text-align: center;
        }

        ng5-slider {
            flex-grow: 1;
        }
    }

    .search-filter {
        margin-top: 3em;
    }

    .price-filter {
        min-height: 15em;
    }
}

.toggle-sidenav {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    font-size: 1.25rem;
}

@media (max-width: 900px) {
    .mat-drawer-content {
        .trips {
            height: calc(100vh - 64px);
            padding: 1em;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 1em;
        }
    }
}

@media (min-width: 900px) {
    .mat-drawer-content {
        .trips {
            height: calc(100vh - 64px);
            padding: 1em;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
            grid-gap: 1em;
        }
    }
}
