.trips {
    list-style: none;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;

    .trip-summary {
        color: inherit;
        text-decoration: inherit;

        .mat-card {
            height: 100%;
            display: flex;
            flex-direction: column;

            .mat-card-content {
                margin: auto 0;
            }
        }

        .price-indicator {
            display: flex;
            align-items: center;
            justify-content: center;

            .low {
                color: green;
            }
            .med {
                color: orange;
            }
            .high {
                color: red;
            }
        }

        .mat-card-actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .available {
                margin-right: auto;

                .limit {
                    &.low {
                        color: red;
                    }
                    &.med {
                        color: orange;
                    }
                    &.high {
                        color: green;
                    }
                }
            }
        }
    }
}


