.trip-details {
    margin: 1em;
}

.add-comment {
    margin-top: 4em;
}

.add-comment {
    form {
        display: flex;
        flex-direction: column;
    }

    .add-comment-btn {
        align-self: flex-end;
    }
}
