.trip-details {
    margin: var(--frame);
}

.gallery {
    margin: 1em 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1em;

    & > * {
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-child(1) {
            background-position: bottom;
            transform: rotate(180deg);
        }

        &:nth-child(3) {
            background-position: top;
            transform: rotate(180deg);
        }

        &:nth-child(2) {
            background-position: top;
        }

        &:nth-child(4) {
            background-position: bottom;
        }
    }
}

.mat-card {
    position: relative;
}

.trip-actions {
    position: absolute;
    top: 0;
    right: 0;
}


.comments {
    margin-top: 2rem;

    .comment {
        .timestamp {
            font-size: 0.8rem;
            margin-left: 1rem;
        }
        .author {
            font-style: italic;
        }
        .content {
            margin-top: 0.2rem;
        }
    }

    .add-comment {
        margin-top: 2rem;

        .mat-form-field {
            width: 350px;
        }

        button {
            margin-left: 1rem;
        }
    }
}
