<mat-toolbar color="primary">
    <mat-toolbar-row>

        <a class="logo" routerLink="/trips">
            Travel Agency App
        </a>

        <ng-container *ngIf="(authService.authState$ | async) === null">

            <a mat-button class="link" routerLink="/sign-in" routerLinkActive="active">
                Sign in
            </a>

            <a mat-button class="link" routerLink="/sign-up" routerLinkActive="active">
                Sign up
            </a>

        </ng-container>

        <ng-container *ngIf="(authService.authState$ | async) as user">

            <button mat-icon-button routerLink="/cart">
                <mat-icon matBadge="{{ selectedPlacesCount$ | async }}" matBadgeColor="accent">shopping_cart</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">

                <button mat-menu-item routerLink="/admin/new-trip" *ngIf="user.isAdmin">
                    <mat-icon>add</mat-icon>
                    <span>Add Trip</span>
                </button>

                <button mat-menu-item routerLink="/trips">
                    <mat-icon>list</mat-icon>
                    <span>Trips</span>
                </button>

                <button mat-menu-item routerLink="/logout">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>

            </mat-menu>

        </ng-container>

    </mat-toolbar-row>
</mat-toolbar>
