<section class="form-section login-form">
    <mat-card class="form-card">
        <mat-card-title>
            Login
        </mat-card-title>

        <form novalidate [formGroup]="form" (ngSubmit)="login()">
            <mat-card-content>
                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        placeholder="Username"
                        formControlName="username"
                        id="username"
                    >
                    <mat-icon matSuffix *ngIf="username.pending">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </mat-icon>
                    <mat-error *ngIf="username.invalid">
                        <div>{{ username.errors | json }}</div>

                        <span *ngIf="username.errors.required">
                            First name is required.
                        </span>
                        <span *ngIf="username.errors.minlength">
                            First name should be minimum {{ username.errors.minlength.requiredLength }} characters.
                        </span>
                        <span *ngIf="username.errors.cannotContainSpace">
                            First name cannot contain space.
                        </span>
                        <span *ngIf="username.errors.shouldBeUnique">
                            Username '{{ username.errors.shouldBeUnique.value }}' is already taken.
                        </span>
                    </mat-error>
                </mat-form-field>


                <mat-form-field>
                    <input
                        matInput
                        type="password"
                        placeholder="Password"
                        formControlName="password"
                        id="password"
                    >

                    <mat-error *ngIf="password.invalid && password.errors.required">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="password.invalid && password.errors.maxlength">
                        You have more than {{ password.errors.maxlength.requiredLength }} characters
                    </mat-error>
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions>
                <mat-error *ngIf="form.errors">
                    <div>{{ form.errors | json }}</div>
                    <span *ngIf="form.errors.badCredentials">
                        The username or password is invalid.
                    </span>
                </mat-error>

                <button
                    mat-raised-button
                    color="warn"
                >
                    Cancel
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    [disabled]="form.invalid"
                >
                    Create
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>
