/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .form-card {
        width: 500px;

        .mat-card-title {
            font-weight: 300;
        }

        .mat-card-content {
            display: flex;
            flex-direction: column;
        }

        .mat-card-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}
