/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}


@media (max-width: 600px) {
    :root {
        --spacer: 1rem;
        --frame: 1rem;
    }
}

@media (min-width: 600px) {
    :root {
        --spacer: 2rem;
        --frame: 4rem;
    }
}

.form-section {
    margin: var(--frame);

    display: flex;
    align-items: center;
    justify-content: center;

    .form-card {
        padding: var(--spacer);
        width: 500px;

        .mat-card-title {
            font-weight: 300;
            margin-bottom: var(--spacer);
        }

        .mat-card-content {
            display: flex;
            flex-direction: column;
        }

        .mat-card-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 0;

            .form-error-message {
                margin-right: auto;
            }
        }
    }
}
